# Built application files
*.iml
*.apk
*.aar
*.ap_
*.aab
*.lock

# Directories
.gradle/
.idea/
app/normal/
app/dev/
build/
captures/
.externalNativeBuild/
circularIndicator/build/

# Files
*.png
*.DS_Store
local.properties
Gemfile
Gemfile.lock

# fastlane
fastlane/metadata/
fastlane/README.md
fastlane/report.xml
